*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "work sans", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#ffffff;
    --scand-color:#f54300;
    --main-color:#7dd07d;
    --text-color:#130849;
    --other-color:#999fb9;
    --big-font:3rem;
    --h2-font:2rem;
    --p-font:1;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding:25px 10%;
    z-index:1000;
    transition:all .2s ease ;
}
.logo img{
    width:150px;
    max-width:100%;
    height:auto;
}
.navbar{
    display: flex;
    align-items: center;

}
.navbar a{
    font-size: var(--p-font);
    color: var(--text-color);
    padding:10px 10px;
    font-weight: 700;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}
.navbar a:hover{
    color: var(--main-color);
}.navbar a.active{
    color: var(--main-color);
}
.navbar a.cart{
    font-size: 30px;
}
#menu-icon{
    color: var(--text-color);
    font-size: 35px;
    cursor: pointer;
    display: none;
    z-index: 10001;
}
.top-btn{
    display: inline-flex;
   background-color: #c0c2ce;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: 700;
}
section{
    padding:80px 10%;
}
.home{
    height: 90vh;
    width:100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap:3rem
}
.home-text h1{
    margin: 20px 0 20px;
    font-size: var(--big-font);
    line-height: 1;
}
.home-text h3{
    color: var(--scand-color);
    font-size: 35px;
    font-weight: 500;
}
.home-text p{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    margin-bottom: 30px;
    line-height:27px;
}
.btn{
    display: inline-block;
    background-color: var(--main-color);
    color:white;
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: 700;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
}
.btn:hover{
box-shadow: 0px 15px 12px rgb(122 216 125 /44%);
}
.home-img img{
    width:100%;
    height:auto;
}
.about{
    background: url(../imgs/feature.svg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    

}
 .about-img img{
    width: 100%;
    height:auto;
} 
  .about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.about-text h2{ 
    margin: 15px 0 15px;
    font-size: var(--h2-font);
    line-height: 1.1;
}
.about-text p{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    margin-bottom: 30px;
    line-height:27px
}
.about-text h3{
    color: var(--scand-color);
    font-size: 20px;
}
 .about-text .btn{
    width: fit-content;
    margin-bottom: 60px;
} 
.content-text{
    text-align: center;
}
.content-text h2{
   margin:15px 0 15px
}
.content-text h3{
   font-size: 25px;
   color: var(--scand-color);
   font-weight: 700;
}
.menu-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto ));
    grid-gap:3rem;
    align-items: center;
    cursor: pointer;
}
.box{
    padding:15px 50px 15px 50px;
    background: var(--bg-color);
    box-shadow:0px 5px 50px rgb(19 8 73 /13%) ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
}
.box-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}
.box-img img{
    width:100%;
    height:auto;
}
.box-text h4{
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.box-text p{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    margin-bottom: 20px;

}
.box-text h6{
    color: var(--scand-color);
    font-size: 20px;
    font-weight: 600;
}
.box:hover{
    transform: scale(1.04) translateY(-5px);
    -webkit-transform: scale(1.04) translateY(-5px);
    -moz-transform: scale(1.04) translateY(-5px);
    -ms-transform: scale(1.04) translateY(-5px);
    -o-transform: scale(1.04) translateY(-5px);
}
.box-btn{
    display: block;
    margin: 20px auto 0 ;
}
.team-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto ));
    grid-gap:3rem;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
}
.row{
 padding: 20px 25px;
 background-color: var(--bg-color);
 box-shadow:0px 5px 70px rgb(19 8 73 /13%) ;
 border-radius:20px ;
 -webkit-border-radius:20px ;
 -moz-border-radius:20px ;
 -ms-border-radius:20px ;
 -o-border-radius:20px ;
 transition: all .40s ease;
}
.team-img img{
    height:120px;
    width:120px;
    object-fit: cover;
    border: 7px solid var(--main-color);
    margin-bottom: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.row h4{
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 7px;
}
.row p{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    margin-bottom: 10px;
}
.team-icon i{
    width:37px ;
    height:37px;
    border-radius: 50%;
    color:var(--text-color) ;
    border: 1px solid var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    transition: all .40s ease;
}
.team-icon i:hover{
    transform: scale(1.04) translateY(-5px);
    background-color: var(--main-color);
    color: #fff;
}
.container{
    padding:70px 80px;
    box-shadow:0px 5px 70px rgb(19 8 73 /17%) ;
    border-radius:20px ;
}
.newslatter-content{
    display: flex;
     flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
   gap: 4px;
}
.news-text h2{
    margin: 15px 8px 15px;
    font-size: var(--h2-font);
    line-height: 1.1;
}
.news-text h3{
    color: var(--scand-color);
    font-size: 30px;
    font-weight: 600;
}
.news-text p{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    line-height: 20px;
    
}
.letter form{
    position: relative;
    width:350px;
    max-width: 100%;
}
.letter form input:first-child{
     display: inline-block;
     width: 100%;
     padding:16px 100px 16px 15px;
     outline:none;
     border-radius:30px;
     border:2px solid var(--main-color);
     -webkit-border-radius:30px;
     -moz-border-radius:30px;
     -ms-border-radius:30px;
     -o-border-radius:30px;
}
.letter form input:last-child{
     position:absolute;
     display: inline-block;
     outline: none;
     border:none;
     color: #fff;
     background: var(--main-color);
     padding:17px 30px;
     border-radius:30px ;
     -webkit-border-radius:30px ;
     -moz-border-radius:30px ;
     -ms-border-radius:30px ;
     -o-border-radius:30px ;
     top:1px;
     right:1px;
     cursor: pointer;
}
.blog{
    background-image: url(../imgs/blog.svg);
    background-size: cover;
    background-position: center left;

}
.blog-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto ));
    grid-gap:2rem ;
    border-radius: 20px;
    margin-top: 3rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.main{
    padding:0 0 10px 0;
    border-radius:20px ;
    box-shadow:0px 5px 40px rgb(19 8 73 /13%) ;
    transition: all .40s ease;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    -webkit-transition: all .40s ease;
    -moz-transition: all .40s ease;
    -ms-transition: all .40s ease;
    -o-transition: all .40s ease;
}
.blog-content img{
    width:100%;
    height:320px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}
.blog-text{
    padding:20px 15px;
}
.blog-text h6{
    font-size: 13px;
    font-weight: 400;
    color:var(--other-color);
    margin-bottom: 15px
}
.blog-text h4{
    font-size: 19px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 10px;
}
.blog-text p{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    line-height: 20px;
    margin-bottom:20px
}
.blog-btn{
    display:flex;
    align-items:center;
}
.blog-btn a{
    font-size: var(--p-font);
    color:var(--main-color);
    margin-right:10px;

}
.blog-btn i{
    font-size:19px;
    color:var(--main-color);
    animation: go-right 1s ease infinite;
    -webkit-animation: go-right 1s ease infinite;
}
.blog-text h4:hover{
    color:var(--main-color)
}
.main:hover{
    transform:translateY(-5px) scale(1.04);
    -webkit-transform:translateY(-5px) scale(1.04);
    -moz-transform:translateY(-5px) scale(1.04);
    -ms-transform:translateY(-5px) scale(1.04);
    -o-transform:translateY(-5px) scale(1.04);
    -webkit-transform: translateY(-5px), scale;
}
@keyframes go-right{
    50%{
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -o-transform: translateX(-5px);
}
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap:2rem
}
.contact-box h3{
    margin-bottom: 1.5rem;
    font-size: 22px;
}
.contact-box h5{
    font-size: 16px;
    font-weight: 600;
    color: var(--other-color);

}
.social{
    display: flex;
    margin-top: 1.7rem;
}
.social i{
    font-size: 24px;
    margin-right: 1rem;
    color: var(--main-color);
    transition:all .40s ease ;
    -webkit-transition:all .40s ease ;
    -moz-transition:all .40s ease ;
    -ms-transition:all .40s ease ;
    -o-transition:all .40s ease ;
}
.social i:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.contact-box li{
    margin-bottom: 14px;
    
}
.contact-box li a{
    display: block;
  color: var(--other-color);
  font-size: var(--p-font);
  transition:all .40s ease ;
}
.contact-box li a:hover{
    margin-left: 5px;
    color:var(--main-color) ;
}
.addres{
    display: flex;
    flex-direction: column;
}
.addres i{
    margin-bottom: .8rem;
    font-size: 1rem;
    color: var(--main-color);
}
.addres span{
    margin-left: 10px;
    color: var(--other-color);
}
.end-text{
    text-align: center;
}
.end-text p{
    color: var(--other-color);
    font-size: 15px;
    letter-spacing:2px;
    padding: 20px ;
    text-transform: capitalize;
}
@media (max-width:1640px){
    .home{
        padding-top:100px ;
        height:60vh;
    }
    header{
        display: flex;
        padding: 14px 3%;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }
    /* header.sticky{
        padding: 10px 3%;
        transition: .3s ;
        -webkit-transition: .3s ;
        -moz-transition: .3s ;
        -ms-transition: .3s ;
        -o-transition: .3s ;
    } */
    section{
        padding: 70px 3%;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
}
}
@media(max-width:1640px){
    .home{
        min-height: 80vh;
        padding-top:100px;

    }
    header{
        padding: 4px 3%;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

}
@media(max-width:1110px){
    #menu-icon{
        display: block;
    }
    /* .top-btn{
        display: block;
    } */
    .navbar{
        position: absolute;
        top: -700px;
        left:0;
        right: 0;
        /* opacity: 0; */
        flex-direction: column;
        transition: all .40s ease;
        align-items: flex-start;
        background-color: #fff;
        box-shadow: 0px 0px 5px  #13084982;
        -webkit-transition: all .40s ease;
        -moz-transition: all .40s ease;
        -ms-transition: all .40s ease;
        -o-transition: all .40s ease;
}
    .navbar a{
        display: block;
        padding: 0.6rem;
        margin: .5rem;
    }
    .navbar.open{
        top:100%;
        opacity: 1;
        
    }
}
@media(max-width:790px){    

    .top-btn{
        display: none;
    }
}
@media(max-width:760px){
    .home{
        height:75vh;
        padding-top:100px;
    }
 
    :root{
        --big-font:2.5rem;
        --h2-font:2.2rem;

    }
    .letter form{
        width: 250px;
    }
} 

 



